/* font-family: 'Exo 2', sans-serif; */


html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Exo 2', sans-serif;
    color:#383A3D;
}

h1{
  text-align: center;
}
h2{
    font-size: 1.4em;
}

.navbarsection {
    display: none;
}

.menu {
  display: flex;
  justify-content: flex-start;
}

.menu__link {
  display: block;
  color: rgb(14 14 14);
  text-decoration: none;
  font-size: 1.5em;
}

.menu__link:hover,
.menu__link.--active {
  font-weight: bold;
  top: 0;
  left: 0;
  text-decoration: underline #383A3D;

}

.menu__list {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  width: 3000px;
  padding: 1rem 2rem;
  justify-items: center;
  margin: 0;
}

.menu__item {
  display: block;
}

.list {
    padding-left: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: #383A3D;
}

/* Colors */

ul {
    list-style-type:none;
}

.colors {
    margin-top: 4em;
}

.color__darkblue {
   background-color: #16273D;
}

.color__blue {
    background-color: #11B8D7;
}

.color__orange {
    background-color: #EA5B0C;
}

.color__orangeshade1 {
    background-color:#F47932;
}

.color__orangeshade2 {
    background-color:#F89E5D;
    margin-top: 61px;
}

.color__orangeshade3 {
    background-color: #FDC689;
    margin-top: 61px;
}

.color__blueshade1 {
    background-color: #90D7EC;
}

.color__blueshade2 {
    background-color: #C8E9EF;
    margin-top: 61px;
}

.preview {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* illustrations */

.ulillustrations {
    padding-left: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: #383A3D;
}

.picture {
    max-width: 250px;
}

/*Logo*/

.logoimg {
    width: 200px;
}

/*Buttons*/

.ulbuttons {
    padding-left: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-items: center;
}
.mainbutton {
    background-color: #EA5B0C;
    height: 71px;
    width: 220px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-style: bold;
    font-size: 2em;
    
}

.mainbutton__sendpakke {
    background-color: #11B8D7;
    
}

.mainbutton__guide {
    max-width: 65px;
    max-height: 71px;
}

.button__login {
    background-color: #16273D;
}

/*Pop-Ups*/
.button__tilladelser {
    background-color: #EA5B0C;
    height: 71px;
    width: 220px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-style: bold;
    font-size: 2em;
    border: none;
    justify-self: center;
}

.popup__tilladelser {
    border: 1px solid rgb(88, 87, 87);
    border-radius: 10px;
    text-align: center;
    width: 370px;
    height: 600px;
    color: #16273D;
    display: grid;
    grid-template-rows: 1fr 90px 1fr 1fr 80px;
}

.heading__tilladelser {
    font-size: 2em;
    margin-bottom: 0;
}

.fab{
    color: #11B8D7;
    margin-top: 60px;
}

.fas{
    color: #EA5B0C;
}


.underheading__tilladelser {
    font-size: 1.3em;
    margin-bottom: 0px;
}

.text__tilladelser {
    margin-top: 1px;
    font-size: 1.1em;
}


/* Fonts */


/*Media Query Selector */
@media screen and (max-width: 730px) {

.ulbuttons {
        display: grid;
        grid-template-columns: 1fr;
    }

.ulillustrations {
    display: grid;
    grid-template-columns: 1fr;
    }

 .list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .menu {
        display: none;
    }

    h1 {
        padding-top: 7px;
        padding-left: 3em;
        padding-right: 2em;
    }

    .navbarsection {
        display: block;
    }
 
   .navbar {
    width: 300px;
    height: 100%;
    background-color: #1a1918e7;
    position: fixed;
    top: 0;
    left: -300px;
    /* -300px: moving the menu out of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.8s cubic-bezier(1, 0, 0, 1);
    z-index: 1;
}

   .change {
    left: 0;
    /* moving the menu into the screen */
}

   .hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 30px;
    left: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

   .line {
    width: 100%;
    height: 3px;
    background-color: rgb(27, 27, 26);
    transition: all 0.8s;
}

    .change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
    background-color: #e8e384;
}

    .change .line-2 {
    opacity: 0;
}

   .change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
    background-color: #e8e384;
}

  .nav-list {
    text-align: right;
}

  .nav-item {
    list-style: none;
    margin: 25px;
}

  .nav-link {
    text-decoration: none;
    font-size: 22px;
    color: rgb(212, 210, 178);
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 3px 0;
}

  .nav-link:hover {
    color: #e8e384;
}

}