/* font-family: 'Exo 2', sans-serif; */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Exo 2", sans-serif;
  color: #383A3D;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.4em;
}

.menu {
  display: flex;
  justify-content: flex-start;
}

.menu__link {
  display: block;
  color: #0e0e0e;
  text-decoration: none;
  font-size: 1.5em;
}

.menu__link:hover,
.menu__link.--active {
  font-weight: bold;
  top: 0;
  left: 0;
  -webkit-text-decoration: underline #383A3D;
          text-decoration: underline #383A3D;
}

.menu__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 3000px;
  padding: 1rem 2rem;
  margin: 0 0 1rem 0;
  min-width: 300px;
  justify-items: center;
  margin: 0;
}

.menu__item {
  display: block;
}

.list {
  padding-left: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #181717;
}

/* Colors */
ul {
  list-style-type: none;
}

.colors {
  margin-top: 4em;
}

.color__darkblue {
  background-color: #16273D;
}

.color__blue {
  background-color: #11B8D7;
}

.color__orange {
  background-color: #EA5B0C;
}

.color__orangeshade1 {
  background-color: #F47932;
}

.color__orangeshade2 {
  background-color: #F89E5D;
  margin-top: 58px;
}

.color__orangeshade3 {
  background-color: #FDC689;
  margin-top: 58px;
}

.preview {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Background-Images */
.illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 400px;
  background-size: cover;
}

.city {
  background-image: url(img/SwipBox-illustration-city.png);
}

/*Logo*/
.logoimg {
  width: 200px;
}

/*Buttons*/
.mainbutton {
  background-color: #EA5B0C;
  height: 71px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-style: bold;
  font-size: 2em;
}

/*Pop-Ups*/
.popup__example {
  width: 300px;
  height: 400px;
  background-color: #f0f4dc;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarsection {
  display: none;
}

/* Fonts */
.fonts__roboto {
  font-family: "Roboto", sans-serif;
}

.fonts__fjallaone {
  font-family: "Fjalla One", sans-serif;
}

.fonts__ralewaydots {
  font-family: "Raleway Dots", cursive;
}

/*Media Query Selector */
@media screen and (max-width: 730px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .menu {
    display: none;
  }

  h1 {
    padding-top: 7px;
    padding-left: 3em;
    padding-right: 2em;
  }

  .navbarsection {
    display: block;
  }

  .navbar {
    width: 300px;
    height: 100%;
    background-color: #1a1918e7;
    position: fixed;
    top: 0;
    left: -300px;
    /* -300px: moving the menu out of the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: left 0.8s cubic-bezier(1, 0, 0, 1);
    z-index: 1;
  }

  .change {
    left: 0;
    /* moving the menu into the screen */
  }

  .hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 30px;
    left: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .line {
    width: 100%;
    height: 3px;
    background-color: #1b1b1a;
    transition: all 0.8s;
  }

  .change .line-1 {
    transform: rotateZ(-405deg) translate(-8px, 6px);
    background-color: #e8e384;
  }

  .change .line-2 {
    opacity: 0;
  }

  .change .line-3 {
    transform: rotateZ(405deg) translate(-8px, -6px);
    background-color: #e8e384;
  }

  .nav-list {
    text-align: right;
  }

  .nav-item {
    list-style: none;
    margin: 25px;
  }

  .nav-link {
    text-decoration: none;
    font-size: 22px;
    color: #d4d2b2;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 3px 0;
  }

  .nav-link:hover {
    color: #e8e384;
  }
}