/* ----------  general stylerules ---------- */
body {
  font-family: "Exo 2", sans-serif;
}

/* ----------  Icon --------- */
i {
  color: #16273D;
  top: 30px;
  left: 30px;
}

/* ----------  Icon (back) ---------- */
.fa-chevron-left {
  position: fixed;
}

/*  ----------  Buttons  ---------- */
button {
  height: 71px;
  width: 270px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  color: white;
  font-family: "Exo 2", sans-serif;
  font-style: bold;
  font-size: 2em;
  border: none;
  justify-self: center;
}

.buttonsend {
  background-color: #EA5B0C;
}

/* ----------  Pop-Ups ---------- */
.popup {
  border-radius: 12px;
}

/*  ----------  hamburger menu ---------- */
.navbarsection {
  display: block;
}

.navbar {
  width: 300px;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  right: -300px;
  /* -300px: moving the menu out of the screen */
  display: flex;
  justify-content: center;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  z-index: 1;
}

.change {
  right: 0;
  /* moving the menu into the screen */
}

.hamburger-menu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 3px;
  background-color: #16273D;
  transition: all 0.8s;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
  background-color: #16273D;
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
  background-color: #16273D;
}

.nav-list {
  text-align: left;
  margin-top: 80px;
  padding-left: 0;
}

.nav-item {
  list-style: none;
  margin: 30px;
}

.nav-link {
  text-decoration: none;
  font-size: 22px;
  color: #16273D;
  font-weight: 500;
  font-family: "Exo 2", sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0;
}

.nav-link:hover {
  color: #16273D;
}

.icon {
  width: 35px;
}

.logomenu {
  max-width: 120px;
  position: relative;
  top: 140px;
  left: 25%;
}

/* ---------- Login Page ----------  */
.mainlogin {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.logo__login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.button__login {
  background-color: #16273D;
  margin: 15px;
}

.button__opretkonto {
  align-self: end;
}

/* ---------- Pop-Up Tilladelser Bluetooth og Lokation ---------- */
.popup__tilladelser {
  display: grid;
  grid-template-rows: 10px 1fr 0.3fr 1fr 1fr 80px;
  text-align: center;
  width: 370px;
  height: 600px;
}

.fa-times {
  justify-self: end;
  margin: 15px;
  color: #11B8D7;
}

.tilladelsericons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.fab {
  color: #11B8D7;
  margin-top: 50px;
  justify-self: end;
}

.fa-map-marker-alt {
  color: #EA5B0C;
  margin-top: 80px;
  justify-self: start;
}

.heading__tilladelser {
  font-size: 2em;
  margin-bottom: 70px;
}

.underheading__tilladelser {
  margin: 0;
}

.text__tilladelser {
  font-size: 1.2em;
  margin: 0;
  margin-bottom: 20px;
}

.p__tilladelser {
  margin-top: 0;
}

/* ---------- Afhent pakke ---------- */
.hentpakke__lille {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tekst__map {
  text-decoration: none;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #16273D;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 2px;
}