/* ----------  general stylerules ---------- */
body {
    font-family: 'Exo 2', sans-serif;
}

a {
    text-decoration: none;
    color: #16273D;
}
/* ----------  Icon --------- */
i {
    color:#16273D; 
    top: 30px;
    left: 30px;
}

/* ----------  Icon (back) ---------- */
.fa-chevron-left {
    position: fixed;
}

/*  ----------  Buttons  ---------- */
button { 
    height: 60px;
    width: 270px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    color: white;
    font-family: 'Exo 2', sans-serif;
    font-style: bold;
    font-size: 2em;
    border: none;
    justify-self: center;
}

button a {
    text-decoration: none;
    color: white;
}
.buttonsend {
    background-color: #EA5B0C;

}

/* ----------  Pop-Ups ---------- */
.popup {
    border-radius: 12px;
    background-color: white;
    text-align: center; 
    opacity: 0.88;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 20px grey;
}

/*  ----------  hamburger menu ---------- */

.navbarsection {
    display: block;
}

.navbar {
width: 300px;
height: 100%;
background-color: white;
position: fixed;
top: 0;
right: -300px;
/* -300px: moving the menu out of the screen */
display: flex;
justify-content: center;
transition: right 0.8s cubic-bezier(1, 0, 0, 1);
z-index: 1;
}

.change {
right: 0;
/* moving the menu into the screen */
}

.hamburger-menu {
width: 35px;
height: 30px;
position: fixed;
top: 30px;
right: 30px;
cursor: pointer;
display: flex;
flex-direction: column;
justify-content: space-around;
}

.line {
width: 100%;
height: 3px;
background-color: #16273D;
transition: all 0.8s;
}

.change .line-1 {
transform: rotateZ(-405deg) translate(-8px, 6px);
background-color: #16273D;
}

.change .line-2 {
opacity: 0;
}

.change .line-3 {
transform: rotateZ(405deg) translate(-8px, -6px);
background-color: #16273D;
}

.nav-list {
text-align: left;
margin-top: 80px;
padding-left: 0;
}

.nav-item {
list-style: none;
margin: 30px;
}

.nav-link {
text-decoration: none;
font-size: 22px;
color: #16273D;
font-weight: 500;
font-family: 'Exo 2', sans-serif;
letter-spacing: 1.5px;
text-transform: uppercase;
padding:0;
}

.nav-link:hover {
color: #16273D;
}

.icon {
    width: 35px;
}

.logomenu {
    max-width: 120px;
    position: relative;
    top: 140px;
    left: 25%;
}



/* ---------- Login Page ----------  */

.mainlogin {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

}
.logo__login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.button__login {
    background-color: #16273D;
    margin: 15px;
}

.button__opretkonto {
    align-self: end;
}

/* ---------- Pop-Up Tilladelser Bluetooth og Lokation ---------- */
.popup__tilladelser {
    display: grid;
    grid-template-rows: 1fr 1fr 0.3fr 1fr 1fr 80px;
    text-align: center;
    width: 370px;
    height: 600px;
}

.fa-times {
    justify-self: end;
    margin: 15px;
    color: #11B8D7;
}

.tilladelsericons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fa-6x {
     color: #11B8D7;
    justify-self: end;
}

.fa-5x {
    color: #EA5B0C;
    margin-top: 20px;
    justify-self: start;
}
  

.heading__tilladelser {
    font-size: 2em;
    margin-bottom: 70px;
}

.underheading__tilladelser {
    margin: 0;
}

.text__tilladelser {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 20px;
}

.p__tilladelser {
    margin-top: 0;
}


/* ---------- Afhent pakke ---------- */

.hentpakke__lille {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tekst__map {
    text-decoration:none;
    text-decoration-line: underline;
    color: #16273D;
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 30px;
    margin-top: 50px;
    
}

.main__afhentpakke {
    display: grid;
    grid-template-rows: 1fr 0.1fr 1fr;
    text-align: center;
}

.infotext__afhentpakke {
    font-size: 1.3em;
   margin-top: 40px;
}

.button__overdrag{
    margin-top: 15px;
}

.adress__hentpakke {
    font-size: 1.2em;
}

/* ---------- Bluetooth searching ---------- */
.pakkeboks {
  z-index: -1;
  width: 200px;
  
}


.popup__bluetoothsearch {
    width: 330px;
    height: 320px;
    font-size: 1.4em;
    display: grid;
    text-align: center;
    justify-items: center;
}

.main__bluetoothsearch {
  display: grid;
  text-align: center;
  justify-items: center;
}

/* ---------- Open Box ---------- */
.main__openbox {
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.2fr 0.2fr;
    text-align: center;
    justify-items: center;
    line-height: 30%;
}

.adress__openbox {
    font-size: 1em;
}

.heading__openbox {
    margin-top: 40px;
}

.button__openbox{
    margin-top: 15px;
    margin-bottom: 20px;
}

.text__doordontopen {
    text-decoration:none;
    text-decoration-line: underline;
    color: #16273D;
    font-weight: bold;
}

/* ---------- Open Box ---------- */
.main__boxisopen {
    display: grid;
    grid-template-rows: 0.2fr 2fr 0.2fr;
    text-align: center;
    justify-items: center;
}

